NEXT_PUBLIC_API_URL=https://hooksniff-api-1046140057667.europe-west1.run.app/v1
NEXT_PUBLIC_WS_URL=wss://hooksniff-api-1046140057667.europe-west1.run.app/v1/ws
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
