=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class AdminApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List all alert rules (admin)
    # Returns all alert rules for the authenticated admin's account
    # @param [Hash] opts the optional parameters
    # @return [Array<AdminAlertRule>]
    def admin_alerts_get(opts = {})
      data, _status_code, _headers = admin_alerts_get_with_http_info(opts)
      data
    end

    # List all alert rules (admin)
    # Returns all alert rules for the authenticated admin&#39;s account
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AdminAlertRule>, Integer, Hash)>] Array<AdminAlertRule> data, response status code and response headers
    def admin_alerts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_alerts_get ...'
      end
      # resource path
      local_var_path = '/admin/alerts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AdminAlertRule>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_alerts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_alerts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an alert rule (admin)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAlertsIdDelete200Response]
    def admin_alerts_id_delete(id, opts = {})
      data, _status_code, _headers = admin_alerts_id_delete_with_http_info(id, opts)
      data
    end

    # Delete an alert rule (admin)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAlertsIdDelete200Response, Integer, Hash)>] AdminAlertsIdDelete200Response data, response status code and response headers
    def admin_alerts_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_alerts_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_alerts_id_delete"
      end
      # resource path
      local_var_path = '/admin/alerts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAlertsIdDelete200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_alerts_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_alerts_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an alert rule (admin)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AdminUpdateAlertRequest] :admin_update_alert_request 
    # @return [AdminAlertRule]
    def admin_alerts_id_put(id, opts = {})
      data, _status_code, _headers = admin_alerts_id_put_with_http_info(id, opts)
      data
    end

    # Update an alert rule (admin)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AdminUpdateAlertRequest] :admin_update_alert_request 
    # @return [Array<(AdminAlertRule, Integer, Hash)>] AdminAlertRule data, response status code and response headers
    def admin_alerts_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_alerts_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_alerts_id_put"
      end
      # resource path
      local_var_path = '/admin/alerts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'admin_update_alert_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAlertRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_alerts_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_alerts_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a platform alert rule (admin)
    # @param admin_create_alert_request [AdminCreateAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAlertRule]
    def admin_alerts_post(admin_create_alert_request, opts = {})
      data, _status_code, _headers = admin_alerts_post_with_http_info(admin_create_alert_request, opts)
      data
    end

    # Create a platform alert rule (admin)
    # @param admin_create_alert_request [AdminCreateAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAlertRule, Integer, Hash)>] AdminAlertRule data, response status code and response headers
    def admin_alerts_post_with_http_info(admin_create_alert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_alerts_post ...'
      end
      # verify the required parameter 'admin_create_alert_request' is set
      if @api_client.config.client_side_validation && admin_create_alert_request.nil?
        fail ArgumentError, "Missing the required parameter 'admin_create_alert_request' when calling AdminApi.admin_alerts_post"
      end
      # resource path
      local_var_path = '/admin/alerts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(admin_create_alert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAlertRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_alerts_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_alerts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List audit logs (admin)
    # Returns all audit log entries across all users
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 50)
    # @option opts [String] :action 
    # @option opts [String] :admin_id 
    # @return [AdminAuditLogResponse]
    def admin_audit_logs_get(opts = {})
      data, _status_code, _headers = admin_audit_logs_get_with_http_info(opts)
      data
    end

    # List audit logs (admin)
    # Returns all audit log entries across all users
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 50)
    # @option opts [String] :action 
    # @option opts [String] :admin_id 
    # @return [Array<(AdminAuditLogResponse, Integer, Hash)>] AdminAuditLogResponse data, response status code and response headers
    def admin_audit_logs_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_audit_logs_get ...'
      end
      # resource path
      local_var_path = '/admin/audit-logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'admin_id'] = opts[:'admin_id'] if !opts[:'admin_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAuditLogResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_audit_logs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_audit_logs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get churn metrics (admin)
    # Lists users who became inactive in the last 30 days
    # @param [Hash] opts the optional parameters
    # @return [ChurnResponse]
    def admin_churn_get(opts = {})
      data, _status_code, _headers = admin_churn_get_with_http_info(opts)
      data
    end

    # Get churn metrics (admin)
    # Lists users who became inactive in the last 30 days
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChurnResponse, Integer, Hash)>] ChurnResponse data, response status code and response headers
    def admin_churn_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_churn_get ...'
      end
      # resource path
      local_var_path = '/admin/churn'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ChurnResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_churn_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_churn_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replay a delivery (admin)
    # Creates a new delivery with the same payload as the original
    # @param id [String] Original delivery ID to replay
    # @param [Hash] opts the optional parameters
    # @return [ReplayDeliveryResponse]
    def admin_deliveries_id_replay_post(id, opts = {})
      data, _status_code, _headers = admin_deliveries_id_replay_post_with_http_info(id, opts)
      data
    end

    # Replay a delivery (admin)
    # Creates a new delivery with the same payload as the original
    # @param id [String] Original delivery ID to replay
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReplayDeliveryResponse, Integer, Hash)>] ReplayDeliveryResponse data, response status code and response headers
    def admin_deliveries_id_replay_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_deliveries_id_replay_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_deliveries_id_replay_post"
      end
      # resource path
      local_var_path = '/admin/deliveries/{id}/replay'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReplayDeliveryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_deliveries_id_replay_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_deliveries_id_replay_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deploy info
    # Admin-only. Returns current deployment version and build info.
    # @param [Hash] opts the optional parameters
    # @return [DeployInfo]
    def admin_deploy_info_get(opts = {})
      data, _status_code, _headers = admin_deploy_info_get_with_http_info(opts)
      data
    end

    # Get deploy info
    # Admin-only. Returns current deployment version and build info.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeployInfo, Integer, Hash)>] DeployInfo data, response status code and response headers
    def admin_deploy_info_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_deploy_info_get ...'
      end
      # resource path
      local_var_path = '/admin/deploy-info'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeployInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_deploy_info_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_deploy_info_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List feature flags
    # Admin-only. Returns all feature flags.
    # @param [Hash] opts the optional parameters
    # @return [AdminFeatureFlagsGet200Response]
    def admin_feature_flags_get(opts = {})
      data, _status_code, _headers = admin_feature_flags_get_with_http_info(opts)
      data
    end

    # List feature flags
    # Admin-only. Returns all feature flags.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminFeatureFlagsGet200Response, Integer, Hash)>] AdminFeatureFlagsGet200Response data, response status code and response headers
    def admin_feature_flags_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_feature_flags_get ...'
      end
      # resource path
      local_var_path = '/admin/feature-flags'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminFeatureFlagsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_feature_flags_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_feature_flags_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete feature flag
    # Admin-only. Deletes a feature flag.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_feature_flags_id_delete(id, opts = {})
      admin_feature_flags_id_delete_with_http_info(id, opts)
      nil
    end

    # Delete feature flag
    # Admin-only. Deletes a feature flag.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_feature_flags_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_feature_flags_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_feature_flags_id_delete"
      end
      # resource path
      local_var_path = '/admin/feature-flags/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_feature_flags_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_feature_flags_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update feature flag
    # Admin-only. Updates a feature flag.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AdminFeatureFlagsIdPutRequest] :admin_feature_flags_id_put_request 
    # @return [FeatureFlag]
    def admin_feature_flags_id_put(id, opts = {})
      data, _status_code, _headers = admin_feature_flags_id_put_with_http_info(id, opts)
      data
    end

    # Update feature flag
    # Admin-only. Updates a feature flag.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AdminFeatureFlagsIdPutRequest] :admin_feature_flags_id_put_request 
    # @return [Array<(FeatureFlag, Integer, Hash)>] FeatureFlag data, response status code and response headers
    def admin_feature_flags_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_feature_flags_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_feature_flags_id_put"
      end
      # resource path
      local_var_path = '/admin/feature-flags/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'admin_feature_flags_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FeatureFlag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_feature_flags_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_feature_flags_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create feature flag
    # Admin-only. Creates a new feature flag.
    # @param admin_feature_flags_post_request [AdminFeatureFlagsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FeatureFlag]
    def admin_feature_flags_post(admin_feature_flags_post_request, opts = {})
      data, _status_code, _headers = admin_feature_flags_post_with_http_info(admin_feature_flags_post_request, opts)
      data
    end

    # Create feature flag
    # Admin-only. Creates a new feature flag.
    # @param admin_feature_flags_post_request [AdminFeatureFlagsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FeatureFlag, Integer, Hash)>] FeatureFlag data, response status code and response headers
    def admin_feature_flags_post_with_http_info(admin_feature_flags_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_feature_flags_post ...'
      end
      # verify the required parameter 'admin_feature_flags_post_request' is set
      if @api_client.config.client_side_validation && admin_feature_flags_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'admin_feature_flags_post_request' when calling AdminApi.admin_feature_flags_post"
      end
      # resource path
      local_var_path = '/admin/feature-flags'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(admin_feature_flags_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FeatureFlag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_feature_flags_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_feature_flags_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export revenue data as CSV (admin)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format  (default to 'csv')
    # @option opts [Integer] :months Number of months to include (default to 12)
    # @return [String]
    def admin_revenue_export_get(opts = {})
      data, _status_code, _headers = admin_revenue_export_get_with_http_info(opts)
      data
    end

    # Export revenue data as CSV (admin)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format  (default to 'csv')
    # @option opts [Integer] :months Number of months to include (default to 12)
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def admin_revenue_export_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_revenue_export_get ...'
      end
      allowable_values = ["csv"]
      if @api_client.config.client_side_validation && opts[:'format'] && !allowable_values.include?(opts[:'format'])
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'months'].nil? && opts[:'months'] > 60
        fail ArgumentError, 'invalid value for "opts[:"months"]" when calling AdminApi.admin_revenue_export_get, must be smaller than or equal to 60.'
      end

      if @api_client.config.client_side_validation && !opts[:'months'].nil? && opts[:'months'] < 1
        fail ArgumentError, 'invalid value for "opts[:"months"]" when calling AdminApi.admin_revenue_export_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/admin/revenue/export'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'months'] = opts[:'months'] if !opts[:'months'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_revenue_export_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_revenue_export_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revenue analytics (admin)
    # Returns monthly revenue, revenue by plan, MRR, churn rate, and MRR trend
    # @param [Hash] opts the optional parameters
    # @return [RevenueResponse]
    def admin_revenue_get(opts = {})
      data, _status_code, _headers = admin_revenue_get_with_http_info(opts)
      data
    end

    # Revenue analytics (admin)
    # Returns monthly revenue, revenue by plan, MRR, churn rate, and MRR trend
    # @param [Hash] opts the optional parameters
    # @return [Array<(RevenueResponse, Integer, Hash)>] RevenueResponse data, response status code and response headers
    def admin_revenue_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_revenue_get ...'
      end
      # resource path
      local_var_path = '/admin/revenue'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RevenueResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_revenue_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_revenue_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send SDK update notification to users
    # @param [Hash] opts the optional parameters
    # @option opts [AdminSdkUpdatePostRequest] :admin_sdk_update_post_request 
    # @return [nil]
    def admin_sdk_update_post(opts = {})
      admin_sdk_update_post_with_http_info(opts)
      nil
    end

    # Send SDK update notification to users
    # @param [Hash] opts the optional parameters
    # @option opts [AdminSdkUpdatePostRequest] :admin_sdk_update_post_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_sdk_update_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_sdk_update_post ...'
      end
      # resource path
      local_var_path = '/admin/sdk-update'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'admin_sdk_update_post_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_sdk_update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_sdk_update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get platform settings (admin)
    # @param [Hash] opts the optional parameters
    # @return [PlatformSettings]
    def admin_settings_get(opts = {})
      data, _status_code, _headers = admin_settings_get_with_http_info(opts)
      data
    end

    # Get platform settings (admin)
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlatformSettings, Integer, Hash)>] PlatformSettings data, response status code and response headers
    def admin_settings_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_settings_get ...'
      end
      # resource path
      local_var_path = '/admin/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlatformSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_settings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_settings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update platform settings (admin)
    # @param platform_settings [PlatformSettings] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSettingsPut200Response]
    def admin_settings_put(platform_settings, opts = {})
      data, _status_code, _headers = admin_settings_put_with_http_info(platform_settings, opts)
      data
    end

    # Update platform settings (admin)
    # @param platform_settings [PlatformSettings] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSettingsPut200Response, Integer, Hash)>] AdminSettingsPut200Response data, response status code and response headers
    def admin_settings_put_with_http_info(platform_settings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_settings_put ...'
      end
      # verify the required parameter 'platform_settings' is set
      if @api_client.config.client_side_validation && platform_settings.nil?
        fail ArgumentError, "Missing the required parameter 'platform_settings' when calling AdminApi.admin_settings_put"
      end
      # resource path
      local_var_path = '/admin/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(platform_settings)

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSettingsPut200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_settings_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_settings_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # System-wide statistics (admin)
    # @param [Hash] opts the optional parameters
    # @return [SystemStats]
    def admin_stats_get(opts = {})
      data, _status_code, _headers = admin_stats_get_with_http_info(opts)
      data
    end

    # System-wide statistics (admin)
    # @param [Hash] opts the optional parameters
    # @return [Array<(SystemStats, Integer, Hash)>] SystemStats data, response status code and response headers
    def admin_stats_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_stats_get ...'
      end
      # resource path
      local_var_path = '/admin/stats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SystemStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_stats_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_stats_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a test webhook to a URL (admin)
    # Sends an HTTP POST to the specified URL with SSRF protection
    # @param admin_test_webhook_request [AdminTestWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdminTestWebhookResponse]
    def admin_test_webhook_post(admin_test_webhook_request, opts = {})
      data, _status_code, _headers = admin_test_webhook_post_with_http_info(admin_test_webhook_request, opts)
      data
    end

    # Send a test webhook to a URL (admin)
    # Sends an HTTP POST to the specified URL with SSRF protection
    # @param admin_test_webhook_request [AdminTestWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminTestWebhookResponse, Integer, Hash)>] AdminTestWebhookResponse data, response status code and response headers
    def admin_test_webhook_post_with_http_info(admin_test_webhook_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_test_webhook_post ...'
      end
      # verify the required parameter 'admin_test_webhook_request' is set
      if @api_client.config.client_side_validation && admin_test_webhook_request.nil?
        fail ArgumentError, "Missing the required parameter 'admin_test_webhook_request' when calling AdminApi.admin_test_webhook_post"
      end
      # resource path
      local_var_path = '/admin/test-webhook'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(admin_test_webhook_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdminTestWebhookResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_test_webhook_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_test_webhook_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export users as CSV (admin)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format  (default to 'csv')
    # @option opts [String] :plan Filter by plan
    # @option opts [String] :status Filter by status
    # @return [String]
    def admin_users_export_get(opts = {})
      data, _status_code, _headers = admin_users_export_get_with_http_info(opts)
      data
    end

    # Export users as CSV (admin)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format  (default to 'csv')
    # @option opts [String] :plan Filter by plan
    # @option opts [String] :status Filter by status
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def admin_users_export_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_users_export_get ...'
      end
      allowable_values = ["csv"]
      if @api_client.config.client_side_validation && opts[:'format'] && !allowable_values.include?(opts[:'format'])
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      allowable_values = ["free", "pro", "business"]
      if @api_client.config.client_side_validation && opts[:'plan'] && !allowable_values.include?(opts[:'plan'])
        fail ArgumentError, "invalid value for \"plan\", must be one of #{allowable_values}"
      end
      allowable_values = ["active", "banned"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/admin/users/export'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'plan'] = opts[:'plan'] if !opts[:'plan'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_users_export_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_users_export_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all users (admin)
    # Returns paginated list of users with optional filters
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :search Search by email or name (ILIKE)
    # @option opts [String] :plan Filter by plan
    # @option opts [String] :status Filter by status
    # @option opts [Date] :created_after Filter users created after this date (ISO 8601)
    # @option opts [Date] :created_before Filter users created before this date (ISO 8601)
    # @return [PaginatedUsers]
    def admin_users_get(opts = {})
      data, _status_code, _headers = admin_users_get_with_http_info(opts)
      data
    end

    # List all users (admin)
    # Returns paginated list of users with optional filters
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :search Search by email or name (ILIKE)
    # @option opts [String] :plan Filter by plan
    # @option opts [String] :status Filter by status
    # @option opts [Date] :created_after Filter users created after this date (ISO 8601)
    # @option opts [Date] :created_before Filter users created before this date (ISO 8601)
    # @return [Array<(PaginatedUsers, Integer, Hash)>] PaginatedUsers data, response status code and response headers
    def admin_users_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_users_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 200
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling AdminApi.admin_users_get, must be smaller than or equal to 200.'
      end

      allowable_values = ["free", "pro", "business"]
      if @api_client.config.client_side_validation && opts[:'plan'] && !allowable_values.include?(opts[:'plan'])
        fail ArgumentError, "invalid value for \"plan\", must be one of #{allowable_values}"
      end
      allowable_values = ["active", "banned"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/admin/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'plan'] = opts[:'plan'] if !opts[:'plan'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'created_after'] = opts[:'created_after'] if !opts[:'created_after'].nil?
      query_params[:'created_before'] = opts[:'created_before'] if !opts[:'created_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedUsers'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_users_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_users_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user analytics (admin)
    # Returns delivery analytics for a specific user over a time period
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days to analyze (default to 30)
    # @return [UserAnalytics]
    def admin_users_id_analytics_get(id, opts = {})
      data, _status_code, _headers = admin_users_id_analytics_get_with_http_info(id, opts)
      data
    end

    # Get user analytics (admin)
    # Returns delivery analytics for a specific user over a time period
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days to analyze (default to 30)
    # @return [Array<(UserAnalytics, Integer, Hash)>] UserAnalytics data, response status code and response headers
    def admin_users_id_analytics_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_users_id_analytics_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_users_id_analytics_get"
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 365
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling AdminApi.admin_users_id_analytics_get, must be smaller than or equal to 365.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling AdminApi.admin_users_id_analytics_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/admin/users/{id}/analytics'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserAnalytics'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_users_id_analytics_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_users_id_analytics_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user details (admin)
    # Returns user details with endpoints, recent deliveries, and usage stats
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminUsersIdGet200Response]
    def admin_users_id_get(id, opts = {})
      data, _status_code, _headers = admin_users_id_get_with_http_info(id, opts)
      data
    end

    # Get user details (admin)
    # Returns user details with endpoints, recent deliveries, and usage stats
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminUsersIdGet200Response, Integer, Hash)>] AdminUsersIdGet200Response data, response status code and response headers
    def admin_users_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_users_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_users_id_get"
      end
      # resource path
      local_var_path = '/admin/users/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminUsersIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_users_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_users_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change user plan (admin)
    # @param id [String] 
    # @param admin_users_id_plan_put_request [AdminUsersIdPlanPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_users_id_plan_put(id, admin_users_id_plan_put_request, opts = {})
      admin_users_id_plan_put_with_http_info(id, admin_users_id_plan_put_request, opts)
      nil
    end

    # Change user plan (admin)
    # @param id [String] 
    # @param admin_users_id_plan_put_request [AdminUsersIdPlanPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_users_id_plan_put_with_http_info(id, admin_users_id_plan_put_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_users_id_plan_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_users_id_plan_put"
      end
      # verify the required parameter 'admin_users_id_plan_put_request' is set
      if @api_client.config.client_side_validation && admin_users_id_plan_put_request.nil?
        fail ArgumentError, "Missing the required parameter 'admin_users_id_plan_put_request' when calling AdminApi.admin_users_id_plan_put"
      end
      # resource path
      local_var_path = '/admin/users/{id}/plan'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(admin_users_id_plan_put_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_users_id_plan_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_users_id_plan_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Change user status (admin)
    # @param id [String] 
    # @param admin_users_id_status_put_request [AdminUsersIdStatusPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_users_id_status_put(id, admin_users_id_status_put_request, opts = {})
      admin_users_id_status_put_with_http_info(id, admin_users_id_status_put_request, opts)
      nil
    end

    # Change user status (admin)
    # @param id [String] 
    # @param admin_users_id_status_put_request [AdminUsersIdStatusPutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_users_id_status_put_with_http_info(id, admin_users_id_status_put_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_users_id_status_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_users_id_status_put"
      end
      # verify the required parameter 'admin_users_id_status_put_request' is set
      if @api_client.config.client_side_validation && admin_users_id_status_put_request.nil?
        fail ArgumentError, "Missing the required parameter 'admin_users_id_status_put_request' when calling AdminApi.admin_users_id_status_put"
      end
      # resource path
      local_var_path = '/admin/users/{id}/status'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(admin_users_id_status_put_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_users_id_status_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_users_id_status_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
