=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class DeliveryDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get specific attempt detail
    # @param id [String] 
    # @param attempt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def webhooks_id_attempts_attempt_id_get(id, attempt_id, opts = {})
      webhooks_id_attempts_attempt_id_get_with_http_info(id, attempt_id, opts)
      nil
    end

    # Get specific attempt detail
    # @param id [String] 
    # @param attempt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def webhooks_id_attempts_attempt_id_get_with_http_info(id, attempt_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryDetailsApi.webhooks_id_attempts_attempt_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DeliveryDetailsApi.webhooks_id_attempts_attempt_id_get"
      end
      # verify the required parameter 'attempt_id' is set
      if @api_client.config.client_side_validation && attempt_id.nil?
        fail ArgumentError, "Missing the required parameter 'attempt_id' when calling DeliveryDetailsApi.webhooks_id_attempts_attempt_id_get"
      end
      # resource path
      local_var_path = '/webhooks/{id}/attempts/{attempt_id}'.sub('{id}', CGI.escape(id.to_s)).sub('{attempt_id}', CGI.escape(attempt_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DeliveryDetailsApi.webhooks_id_attempts_attempt_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryDetailsApi#webhooks_id_attempts_attempt_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get detailed delivery info
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def webhooks_id_details_get(id, opts = {})
      webhooks_id_details_get_with_http_info(id, opts)
      nil
    end

    # Get detailed delivery info
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def webhooks_id_details_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryDetailsApi.webhooks_id_details_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DeliveryDetailsApi.webhooks_id_details_get"
      end
      # resource path
      local_var_path = '/webhooks/{id}/details'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DeliveryDetailsApi.webhooks_id_details_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryDetailsApi#webhooks_id_details_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
