=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class DevicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List registered devices
    # @param [Hash] opts the optional parameters
    # @return [Array<DeviceTokenResponse>]
    def devices_get(opts = {})
      data, _status_code, _headers = devices_get_with_http_info(opts)
      data
    end

    # List registered devices
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DeviceTokenResponse>, Integer, Hash)>] Array<DeviceTokenResponse> data, response status code and response headers
    def devices_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicesApi.devices_get ...'
      end
      # resource path
      local_var_path = '/devices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<DeviceTokenResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DevicesApi.devices_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicesApi#devices_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register device for push notifications
    # @param register_device_request [RegisterDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeviceTokenResponse]
    def devices_post(register_device_request, opts = {})
      data, _status_code, _headers = devices_post_with_http_info(register_device_request, opts)
      data
    end

    # Register device for push notifications
    # @param register_device_request [RegisterDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceTokenResponse, Integer, Hash)>] DeviceTokenResponse data, response status code and response headers
    def devices_post_with_http_info(register_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicesApi.devices_post ...'
      end
      # verify the required parameter 'register_device_request' is set
      if @api_client.config.client_side_validation && register_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'register_device_request' when calling DevicesApi.devices_post"
      end
      # resource path
      local_var_path = '/devices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(register_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DevicesApi.devices_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicesApi#devices_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove device token
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def devices_token_delete(token, opts = {})
      devices_token_delete_with_http_info(token, opts)
      nil
    end

    # Remove device token
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def devices_token_delete_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevicesApi.devices_token_delete ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling DevicesApi.devices_token_delete"
      end
      # resource path
      local_var_path = '/devices/{token}'.sub('{token}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"DevicesApi.devices_token_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevicesApi#devices_token_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
