=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class EndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List all endpoints
    # @param [Hash] opts the optional parameters
    # @return [Array<Endpoint>]
    def endpoints_get(opts = {})
      data, _status_code, _headers = endpoints_get_with_http_info(opts)
      data
    end

    # List all endpoints
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Endpoint>, Integer, Hash)>] Array<Endpoint> data, response status code and response headers
    def endpoints_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_get ...'
      end
      # resource path
      local_var_path = '/endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Endpoint>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete endpoint
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def endpoints_id_delete(id, opts = {})
      endpoints_id_delete_with_http_info(id, opts)
      nil
    end

    # Delete endpoint
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def endpoints_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EndpointsApi.endpoints_id_delete"
      end
      # resource path
      local_var_path = '/endpoints/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get endpoint by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Endpoint]
    def endpoints_id_get(id, opts = {})
      data, _status_code, _headers = endpoints_id_get_with_http_info(id, opts)
      data
    end

    # Get endpoint by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Endpoint, Integer, Hash)>] Endpoint data, response status code and response headers
    def endpoints_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EndpointsApi.endpoints_id_get"
      end
      # resource path
      local_var_path = '/endpoints/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Endpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update endpoint
    # @param id [String] 
    # @param update_endpoint_request [UpdateEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Endpoint]
    def endpoints_id_put(id, update_endpoint_request, opts = {})
      data, _status_code, _headers = endpoints_id_put_with_http_info(id, update_endpoint_request, opts)
      data
    end

    # Update endpoint
    # @param id [String] 
    # @param update_endpoint_request [UpdateEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Endpoint, Integer, Hash)>] Endpoint data, response status code and response headers
    def endpoints_id_put_with_http_info(id, update_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EndpointsApi.endpoints_id_put"
      end
      # verify the required parameter 'update_endpoint_request' is set
      if @api_client.config.client_side_validation && update_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_endpoint_request' when calling EndpointsApi.endpoints_id_put"
      end
      # resource path
      local_var_path = '/endpoints/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Endpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update retry policy for an endpoint
    # @param id [String] 
    # @param retry_policy [RetryPolicy] 
    # @param [Hash] opts the optional parameters
    # @return [Endpoint]
    def endpoints_id_retry_policy_put(id, retry_policy, opts = {})
      data, _status_code, _headers = endpoints_id_retry_policy_put_with_http_info(id, retry_policy, opts)
      data
    end

    # Update retry policy for an endpoint
    # @param id [String] 
    # @param retry_policy [RetryPolicy] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Endpoint, Integer, Hash)>] Endpoint data, response status code and response headers
    def endpoints_id_retry_policy_put_with_http_info(id, retry_policy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_id_retry_policy_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EndpointsApi.endpoints_id_retry_policy_put"
      end
      # verify the required parameter 'retry_policy' is set
      if @api_client.config.client_side_validation && retry_policy.nil?
        fail ArgumentError, "Missing the required parameter 'retry_policy' when calling EndpointsApi.endpoints_id_retry_policy_put"
      end
      # resource path
      local_var_path = '/endpoints/{id}/retry-policy'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(retry_policy)

      # return_type
      return_type = opts[:debug_return_type] || 'Endpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_id_retry_policy_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_id_retry_policy_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate endpoint signing secret
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EndpointsIdRotateSecretPost200Response]
    def endpoints_id_rotate_secret_post(id, opts = {})
      data, _status_code, _headers = endpoints_id_rotate_secret_post_with_http_info(id, opts)
      data
    end

    # Rotate endpoint signing secret
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EndpointsIdRotateSecretPost200Response, Integer, Hash)>] EndpointsIdRotateSecretPost200Response data, response status code and response headers
    def endpoints_id_rotate_secret_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_id_rotate_secret_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EndpointsApi.endpoints_id_rotate_secret_post"
      end
      # resource path
      local_var_path = '/endpoints/{id}/rotate-secret'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EndpointsIdRotateSecretPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_id_rotate_secret_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_id_rotate_secret_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new endpoint
    # @param create_endpoint_request [CreateEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Endpoint]
    def endpoints_post(create_endpoint_request, opts = {})
      data, _status_code, _headers = endpoints_post_with_http_info(create_endpoint_request, opts)
      data
    end

    # Create a new endpoint
    # @param create_endpoint_request [CreateEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Endpoint, Integer, Hash)>] Endpoint data, response status code and response headers
    def endpoints_post_with_http_info(create_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.endpoints_post ...'
      end
      # verify the required parameter 'create_endpoint_request' is set
      if @api_client.config.client_side_validation && create_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_endpoint_request' when calling EndpointsApi.endpoints_post"
      end
      # resource path
      local_var_path = '/endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Endpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.endpoints_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#endpoints_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
