=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class InboundApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List inbound webhook configs
    # Returns all inbound webhook configurations for the authenticated user
    # @param [Hash] opts the optional parameters
    # @return [Array<InboundConfig>]
    def inbound_configs_get(opts = {})
      data, _status_code, _headers = inbound_configs_get_with_http_info(opts)
      data
    end

    # List inbound webhook configs
    # Returns all inbound webhook configurations for the authenticated user
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InboundConfig>, Integer, Hash)>] Array<InboundConfig> data, response status code and response headers
    def inbound_configs_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboundApi.inbound_configs_get ...'
      end
      # resource path
      local_var_path = '/inbound/configs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<InboundConfig>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InboundApi.inbound_configs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboundApi#inbound_configs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete inbound config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def inbound_configs_id_delete(id, opts = {})
      inbound_configs_id_delete_with_http_info(id, opts)
      nil
    end

    # Delete inbound config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def inbound_configs_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboundApi.inbound_configs_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboundApi.inbound_configs_id_delete"
      end
      # resource path
      local_var_path = '/inbound/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InboundApi.inbound_configs_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboundApi#inbound_configs_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update inbound config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InboundConfigsIdPutRequest] :inbound_configs_id_put_request 
    # @return [InboundConfig]
    def inbound_configs_id_put(id, opts = {})
      data, _status_code, _headers = inbound_configs_id_put_with_http_info(id, opts)
      data
    end

    # Update inbound config
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InboundConfigsIdPutRequest] :inbound_configs_id_put_request 
    # @return [Array<(InboundConfig, Integer, Hash)>] InboundConfig data, response status code and response headers
    def inbound_configs_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboundApi.inbound_configs_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboundApi.inbound_configs_id_put"
      end
      # resource path
      local_var_path = '/inbound/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'inbound_configs_id_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'InboundConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InboundApi.inbound_configs_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboundApi#inbound_configs_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create inbound webhook config
    # @param inbound_configs_post_request [InboundConfigsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InboundConfig]
    def inbound_configs_post(inbound_configs_post_request, opts = {})
      data, _status_code, _headers = inbound_configs_post_with_http_info(inbound_configs_post_request, opts)
      data
    end

    # Create inbound webhook config
    # @param inbound_configs_post_request [InboundConfigsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InboundConfig, Integer, Hash)>] InboundConfig data, response status code and response headers
    def inbound_configs_post_with_http_info(inbound_configs_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboundApi.inbound_configs_post ...'
      end
      # verify the required parameter 'inbound_configs_post_request' is set
      if @api_client.config.client_side_validation && inbound_configs_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_configs_post_request' when calling InboundApi.inbound_configs_post"
      end
      # resource path
      local_var_path = '/inbound/configs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inbound_configs_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InboundConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InboundApi.inbound_configs_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboundApi#inbound_configs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Receive inbound webhook for a specific endpoint
    # @param provider [String] 
    # @param endpoint_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def inbound_provider_endpoint_id_post(provider, endpoint_id, body, opts = {})
      inbound_provider_endpoint_id_post_with_http_info(provider, endpoint_id, body, opts)
      nil
    end

    # Receive inbound webhook for a specific endpoint
    # @param provider [String] 
    # @param endpoint_id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def inbound_provider_endpoint_id_post_with_http_info(provider, endpoint_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboundApi.inbound_provider_endpoint_id_post ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling InboundApi.inbound_provider_endpoint_id_post"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling InboundApi.inbound_provider_endpoint_id_post"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling InboundApi.inbound_provider_endpoint_id_post"
      end
      # resource path
      local_var_path = '/inbound/{provider}/{endpoint_id}'.sub('{provider}', CGI.escape(provider.to_s)).sub('{endpoint_id}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InboundApi.inbound_provider_endpoint_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboundApi#inbound_provider_endpoint_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Receive inbound webhook from a provider
    # Accepts webhooks from external providers (Stripe, GitHub, etc.) and routes them to the customer's endpoints. 
    # @param provider [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def inbound_provider_post(provider, body, opts = {})
      inbound_provider_post_with_http_info(provider, body, opts)
      nil
    end

    # Receive inbound webhook from a provider
    # Accepts webhooks from external providers (Stripe, GitHub, etc.) and routes them to the customer&#39;s endpoints. 
    # @param provider [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def inbound_provider_post_with_http_info(provider, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboundApi.inbound_provider_post ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling InboundApi.inbound_provider_post"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling InboundApi.inbound_provider_post"
      end
      # resource path
      local_var_path = '/inbound/{provider}'.sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InboundApi.inbound_provider_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboundApi#inbound_provider_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
