=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class PlaygroundApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get playground info (endpoints, sample payloads)
    # @param [Hash] opts the optional parameters
    # @return [PlaygroundGet200Response]
    def playground_get(opts = {})
      data, _status_code, _headers = playground_get_with_http_info(opts)
      data
    end

    # Get playground info (endpoints, sample payloads)
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlaygroundGet200Response, Integer, Hash)>] PlaygroundGet200Response data, response status code and response headers
    def playground_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaygroundApi.playground_get ...'
      end
      # resource path
      local_var_path = '/playground'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PlaygroundGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PlaygroundApi.playground_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaygroundApi#playground_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test a webhook delivery
    # @param test_webhook_request [TestWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TestWebhookResponse]
    def playground_test_post(test_webhook_request, opts = {})
      data, _status_code, _headers = playground_test_post_with_http_info(test_webhook_request, opts)
      data
    end

    # Test a webhook delivery
    # @param test_webhook_request [TestWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestWebhookResponse, Integer, Hash)>] TestWebhookResponse data, response status code and response headers
    def playground_test_post_with_http_info(test_webhook_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlaygroundApi.playground_test_post ...'
      end
      # verify the required parameter 'test_webhook_request' is set
      if @api_client.config.client_side_validation && test_webhook_request.nil?
        fail ArgumentError, "Missing the required parameter 'test_webhook_request' when calling PlaygroundApi.playground_test_post"
      end
      # resource path
      local_var_path = '/playground/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(test_webhook_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TestWebhookResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PlaygroundApi.playground_test_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlaygroundApi#playground_test_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
