=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class RoutingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get endpoint health status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EndpointHealth]
    def endpoints_id_health_get(id, opts = {})
      data, _status_code, _headers = endpoints_id_health_get_with_http_info(id, opts)
      data
    end

    # Get endpoint health status
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EndpointHealth, Integer, Hash)>] EndpointHealth data, response status code and response headers
    def endpoints_id_health_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.endpoints_id_health_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutingApi.endpoints_id_health_get"
      end
      # resource path
      local_var_path = '/endpoints/{id}/health'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EndpointHealth'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RoutingApi.endpoints_id_health_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#endpoints_id_health_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get routing config for endpoint
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingInfo]
    def endpoints_id_routing_get(id, opts = {})
      data, _status_code, _headers = endpoints_id_routing_get_with_http_info(id, opts)
      data
    end

    # Get routing config for endpoint
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingInfo, Integer, Hash)>] RoutingInfo data, response status code and response headers
    def endpoints_id_routing_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.endpoints_id_routing_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutingApi.endpoints_id_routing_get"
      end
      # resource path
      local_var_path = '/endpoints/{id}/routing'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RoutingApi.endpoints_id_routing_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#endpoints_id_routing_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update routing config
    # @param id [String] 
    # @param update_routing_request [UpdateRoutingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingInfo]
    def endpoints_id_routing_put(id, update_routing_request, opts = {})
      data, _status_code, _headers = endpoints_id_routing_put_with_http_info(id, update_routing_request, opts)
      data
    end

    # Update routing config
    # @param id [String] 
    # @param update_routing_request [UpdateRoutingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingInfo, Integer, Hash)>] RoutingInfo data, response status code and response headers
    def endpoints_id_routing_put_with_http_info(id, update_routing_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingApi.endpoints_id_routing_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutingApi.endpoints_id_routing_put"
      end
      # verify the required parameter 'update_routing_request' is set
      if @api_client.config.client_side_validation && update_routing_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_routing_request' when calling RoutingApi.endpoints_id_routing_put"
      end
      # resource path
      local_var_path = '/endpoints/{id}/routing'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_routing_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RoutingInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"RoutingApi.endpoints_id_routing_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingApi#endpoints_id_routing_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
