=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class StreamApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Real-time delivery event stream (SSE)
    # Server-Sent Events stream of webhook deliveries
    # @param [Hash] opts the optional parameters
    # @option opts [String] :endpoint_id 
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @return [String]
    def stream_deliveries_get(opts = {})
      data, _status_code, _headers = stream_deliveries_get_with_http_info(opts)
      data
    end

    # Real-time delivery event stream (SSE)
    # Server-Sent Events stream of webhook deliveries
    # @param [Hash] opts the optional parameters
    # @option opts [String] :endpoint_id 
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def stream_deliveries_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StreamApi.stream_deliveries_get ...'
      end
      # resource path
      local_var_path = '/stream/deliveries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'endpoint_id'] = opts[:'endpoint_id'] if !opts[:'endpoint_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StreamApi.stream_deliveries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StreamApi#stream_deliveries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
