=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class TemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List available templates
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category 
    # @return [Array<WebhookTemplate>]
    def templates_get(opts = {})
      data, _status_code, _headers = templates_get_with_http_info(opts)
      data
    end

    # List available templates
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category 
    # @return [Array<(Array<WebhookTemplate>, Integer, Hash)>] Array<WebhookTemplate> data, response status code and response headers
    def templates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.templates_get ...'
      end
      # resource path
      local_var_path = '/templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WebhookTemplate>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.templates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#templates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Apply template to an endpoint
    # @param id [String] 
    # @param apply_template_request [ApplyTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyTemplateResponse]
    def templates_id_apply_post(id, apply_template_request, opts = {})
      data, _status_code, _headers = templates_id_apply_post_with_http_info(id, apply_template_request, opts)
      data
    end

    # Apply template to an endpoint
    # @param id [String] 
    # @param apply_template_request [ApplyTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyTemplateResponse, Integer, Hash)>] ApplyTemplateResponse data, response status code and response headers
    def templates_id_apply_post_with_http_info(id, apply_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.templates_id_apply_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TemplatesApi.templates_id_apply_post"
      end
      # verify the required parameter 'apply_template_request' is set
      if @api_client.config.client_side_validation && apply_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_template_request' when calling TemplatesApi.templates_id_apply_post"
      end
      # resource path
      local_var_path = '/templates/{id}/apply'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apply_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.templates_id_apply_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#templates_id_apply_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get template by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebhookTemplate]
    def templates_id_get(id, opts = {})
      data, _status_code, _headers = templates_id_get_with_http_info(id, opts)
      data
    end

    # Get template by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookTemplate, Integer, Hash)>] WebhookTemplate data, response status code and response headers
    def templates_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.templates_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TemplatesApi.templates_id_get"
      end
      # resource path
      local_var_path = '/templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TemplatesApi.templates_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#templates_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
