=begin
#HookSniff API

#Webhook delivery, monitoring, and management API. All endpoints under `/v1` require authentication via `Authorization: Bearer <api_key>` header unless marked as **Public**. 

The version of the OpenAPI document: 1.0.0
Contact: support@hooksniff.vercel.app
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module OpenapiClient
  class TransformsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List transform rules for endpoint
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<TransformRule>]
    def endpoints_endpoint_id_transforms_get(endpoint_id, opts = {})
      data, _status_code, _headers = endpoints_endpoint_id_transforms_get_with_http_info(endpoint_id, opts)
      data
    end

    # List transform rules for endpoint
    # @param endpoint_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<TransformRule>, Integer, Hash)>] Array<TransformRule> data, response status code and response headers
    def endpoints_endpoint_id_transforms_get_with_http_info(endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransformsApi.endpoints_endpoint_id_transforms_get ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling TransformsApi.endpoints_endpoint_id_transforms_get"
      end
      # resource path
      local_var_path = '/endpoints/{endpoint_id}/transforms'.sub('{endpoint_id}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TransformRule>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TransformsApi.endpoints_endpoint_id_transforms_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransformsApi#endpoints_endpoint_id_transforms_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete transform rule
    # @param endpoint_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def endpoints_endpoint_id_transforms_id_delete(endpoint_id, id, opts = {})
      endpoints_endpoint_id_transforms_id_delete_with_http_info(endpoint_id, id, opts)
      nil
    end

    # Delete transform rule
    # @param endpoint_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def endpoints_endpoint_id_transforms_id_delete_with_http_info(endpoint_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransformsApi.endpoints_endpoint_id_transforms_id_delete ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling TransformsApi.endpoints_endpoint_id_transforms_id_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransformsApi.endpoints_endpoint_id_transforms_id_delete"
      end
      # resource path
      local_var_path = '/endpoints/{endpoint_id}/transforms/{id}'.sub('{endpoint_id}', CGI.escape(endpoint_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TransformsApi.endpoints_endpoint_id_transforms_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransformsApi#endpoints_endpoint_id_transforms_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update transform rule
    # @param endpoint_id [String] 
    # @param id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [TransformRule]
    def endpoints_endpoint_id_transforms_id_put(endpoint_id, id, body, opts = {})
      data, _status_code, _headers = endpoints_endpoint_id_transforms_id_put_with_http_info(endpoint_id, id, body, opts)
      data
    end

    # Update transform rule
    # @param endpoint_id [String] 
    # @param id [String] 
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransformRule, Integer, Hash)>] TransformRule data, response status code and response headers
    def endpoints_endpoint_id_transforms_id_put_with_http_info(endpoint_id, id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransformsApi.endpoints_endpoint_id_transforms_id_put ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling TransformsApi.endpoints_endpoint_id_transforms_id_put"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TransformsApi.endpoints_endpoint_id_transforms_id_put"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling TransformsApi.endpoints_endpoint_id_transforms_id_put"
      end
      # resource path
      local_var_path = '/endpoints/{endpoint_id}/transforms/{id}'.sub('{endpoint_id}', CGI.escape(endpoint_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'TransformRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TransformsApi.endpoints_endpoint_id_transforms_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransformsApi#endpoints_endpoint_id_transforms_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create transform rule
    # @param endpoint_id [String] 
    # @param create_transform_rule_request [CreateTransformRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TransformRule]
    def endpoints_endpoint_id_transforms_post(endpoint_id, create_transform_rule_request, opts = {})
      data, _status_code, _headers = endpoints_endpoint_id_transforms_post_with_http_info(endpoint_id, create_transform_rule_request, opts)
      data
    end

    # Create transform rule
    # @param endpoint_id [String] 
    # @param create_transform_rule_request [CreateTransformRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransformRule, Integer, Hash)>] TransformRule data, response status code and response headers
    def endpoints_endpoint_id_transforms_post_with_http_info(endpoint_id, create_transform_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransformsApi.endpoints_endpoint_id_transforms_post ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling TransformsApi.endpoints_endpoint_id_transforms_post"
      end
      # verify the required parameter 'create_transform_rule_request' is set
      if @api_client.config.client_side_validation && create_transform_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_transform_rule_request' when calling TransformsApi.endpoints_endpoint_id_transforms_post"
      end
      # resource path
      local_var_path = '/endpoints/{endpoint_id}/transforms'.sub('{endpoint_id}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_transform_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TransformRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TransformsApi.endpoints_endpoint_id_transforms_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransformsApi#endpoints_endpoint_id_transforms_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test a transform rule
    # @param endpoint_id [String] 
    # @param endpoints_endpoint_id_transforms_test_post_request [EndpointsEndpointIdTransformsTestPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def endpoints_endpoint_id_transforms_test_post(endpoint_id, endpoints_endpoint_id_transforms_test_post_request, opts = {})
      endpoints_endpoint_id_transforms_test_post_with_http_info(endpoint_id, endpoints_endpoint_id_transforms_test_post_request, opts)
      nil
    end

    # Test a transform rule
    # @param endpoint_id [String] 
    # @param endpoints_endpoint_id_transforms_test_post_request [EndpointsEndpointIdTransformsTestPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def endpoints_endpoint_id_transforms_test_post_with_http_info(endpoint_id, endpoints_endpoint_id_transforms_test_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransformsApi.endpoints_endpoint_id_transforms_test_post ...'
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling TransformsApi.endpoints_endpoint_id_transforms_test_post"
      end
      # verify the required parameter 'endpoints_endpoint_id_transforms_test_post_request' is set
      if @api_client.config.client_side_validation && endpoints_endpoint_id_transforms_test_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'endpoints_endpoint_id_transforms_test_post_request' when calling TransformsApi.endpoints_endpoint_id_transforms_test_post"
      end
      # resource path
      local_var_path = '/endpoints/{endpoint_id}/transforms/test'.sub('{endpoint_id}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(endpoints_endpoint_id_transforms_test_post_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TransformsApi.endpoints_endpoint_id_transforms_test_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransformsApi#endpoints_endpoint_id_transforms_test_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
