/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package hooksniff.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl


import com.squareup.moshi.Json

import hooksniff.infrastructure.ApiClient
import hooksniff.infrastructure.ApiResponse
import hooksniff.infrastructure.ClientException
import hooksniff.infrastructure.ClientError
import hooksniff.infrastructure.ServerException
import hooksniff.infrastructure.ServerError
import hooksniff.infrastructure.MultiValueMap
import hooksniff.infrastructure.PartConfig
import hooksniff.infrastructure.RequestConfig
import hooksniff.infrastructure.RequestMethod
import hooksniff.infrastructure.ResponseType
import hooksniff.infrastructure.Success
import hooksniff.infrastructure.toMultiValue

open class DeliveryDetailsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://hooksniff-api-1046140057667.europe-west1.run.app/v1")
        }
    }

    /**
     * GET /webhooks/{id}/attempts/{attempt_id}
     * Get specific attempt detail
     * 
     * @param id 
     * @param attemptId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksIdAttemptsAttemptIdGet(id: java.util.UUID, attemptId: java.util.UUID) : Unit {
        val localVarResponse = webhooksIdAttemptsAttemptIdGetWithHttpInfo(id = id, attemptId = attemptId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /webhooks/{id}/attempts/{attempt_id}
     * Get specific attempt detail
     * 
     * @param id 
     * @param attemptId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksIdAttemptsAttemptIdGetWithHttpInfo(id: java.util.UUID, attemptId: java.util.UUID) : ApiResponse<Unit?> {
        val localVariableConfig = webhooksIdAttemptsAttemptIdGetRequestConfig(id = id, attemptId = attemptId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksIdAttemptsAttemptIdGet
     *
     * @param id 
     * @param attemptId 
     * @return RequestConfig
     */
    fun webhooksIdAttemptsAttemptIdGetRequestConfig(id: java.util.UUID, attemptId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/webhooks/{id}/attempts/{attempt_id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())).replace("{"+"attempt_id"+"}", encodeURIComponent(attemptId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /webhooks/{id}/details
     * Get detailed delivery info
     * 
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksIdDetailsGet(id: java.util.UUID) : Unit {
        val localVarResponse = webhooksIdDetailsGetWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /webhooks/{id}/details
     * Get detailed delivery info
     * 
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksIdDetailsGetWithHttpInfo(id: java.util.UUID) : ApiResponse<Unit?> {
        val localVariableConfig = webhooksIdDetailsGetRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksIdDetailsGet
     *
     * @param id 
     * @return RequestConfig
     */
    fun webhooksIdDetailsGetRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/webhooks/{id}/details".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
