/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package hooksniff.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import hooksniff.models.BatchReplayRequest
import hooksniff.models.BatchResponse
import hooksniff.models.BatchWebhookRequest
import hooksniff.models.CreateWebhookRequest
import hooksniff.models.Delivery
import hooksniff.models.DeliveryAttempt
import hooksniff.models.DeliveryListResponse

import com.squareup.moshi.Json

import hooksniff.infrastructure.ApiClient
import hooksniff.infrastructure.ApiResponse
import hooksniff.infrastructure.ClientException
import hooksniff.infrastructure.ClientError
import hooksniff.infrastructure.ServerException
import hooksniff.infrastructure.ServerError
import hooksniff.infrastructure.MultiValueMap
import hooksniff.infrastructure.PartConfig
import hooksniff.infrastructure.RequestConfig
import hooksniff.infrastructure.RequestMethod
import hooksniff.infrastructure.ResponseType
import hooksniff.infrastructure.Success
import hooksniff.infrastructure.toMultiValue

open class WebhooksApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://hooksniff-api-1046140057667.europe-west1.run.app/v1")
        }
    }

    /**
     * POST /webhooks/batch
     * Send multiple webhooks in batch
     * 
     * @param batchWebhookRequest 
     * @return BatchResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksBatchPost(batchWebhookRequest: BatchWebhookRequest) : BatchResponse {
        val localVarResponse = webhooksBatchPostWithHttpInfo(batchWebhookRequest = batchWebhookRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BatchResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /webhooks/batch
     * Send multiple webhooks in batch
     * 
     * @param batchWebhookRequest 
     * @return ApiResponse<BatchResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksBatchPostWithHttpInfo(batchWebhookRequest: BatchWebhookRequest) : ApiResponse<BatchResponse?> {
        val localVariableConfig = webhooksBatchPostRequestConfig(batchWebhookRequest = batchWebhookRequest)

        return request<BatchWebhookRequest, BatchResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksBatchPost
     *
     * @param batchWebhookRequest 
     * @return RequestConfig
     */
    fun webhooksBatchPostRequestConfig(batchWebhookRequest: BatchWebhookRequest) : RequestConfig<BatchWebhookRequest> {
        val localVariableBody = batchWebhookRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/webhooks/batch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /webhooks/batch/replay
     * Replay multiple deliveries by ID
     * 
     * @param batchReplayRequest 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksBatchReplayPost(batchReplayRequest: BatchReplayRequest) : Unit {
        val localVarResponse = webhooksBatchReplayPostWithHttpInfo(batchReplayRequest = batchReplayRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /webhooks/batch/replay
     * Replay multiple deliveries by ID
     * 
     * @param batchReplayRequest 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksBatchReplayPostWithHttpInfo(batchReplayRequest: BatchReplayRequest) : ApiResponse<Unit?> {
        val localVariableConfig = webhooksBatchReplayPostRequestConfig(batchReplayRequest = batchReplayRequest)

        return request<BatchReplayRequest, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksBatchReplayPost
     *
     * @param batchReplayRequest 
     * @return RequestConfig
     */
    fun webhooksBatchReplayPostRequestConfig(batchReplayRequest: BatchReplayRequest) : RequestConfig<BatchReplayRequest> {
        val localVariableBody = batchReplayRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/webhooks/batch/replay",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter range
     */
     enum class RangeWebhooksExportGet(val value: kotlin.String) {
         @Json(name = "24h") _24h("24h"),
         @Json(name = "7d") _7d("7d"),
         @Json(name = "30d") _30d("30d");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /webhooks/export
     * Export deliveries as CSV
     * 
     * @param range  (optional, default to Range._7d)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksExportGet(range: RangeWebhooksExportGet? = RangeWebhooksExportGet._7d) : kotlin.String {
        val localVarResponse = webhooksExportGetWithHttpInfo(range = range)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /webhooks/export
     * Export deliveries as CSV
     * 
     * @param range  (optional, default to Range._7d)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksExportGetWithHttpInfo(range: RangeWebhooksExportGet?) : ApiResponse<kotlin.String?> {
        val localVariableConfig = webhooksExportGetRequestConfig(range = range)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksExportGet
     *
     * @param range  (optional, default to Range._7d)
     * @return RequestConfig
     */
    fun webhooksExportGetRequestConfig(range: RangeWebhooksExportGet?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (range != null) {
                    put("range", listOf(range.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/webhooks/export",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusWebhooksGet(val value: kotlin.String) {
         @Json(name = "pending") pending("pending"),
         @Json(name = "processing") processing("processing"),
         @Json(name = "delivered") delivered("delivered"),
         @Json(name = "failed") failed("failed");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /webhooks
     * List webhook deliveries
     * 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param status  (optional)
     * @param endpointId  (optional)
     * @return DeliveryListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksGet(page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, status: StatusWebhooksGet? = null, endpointId: java.util.UUID? = null) : DeliveryListResponse {
        val localVarResponse = webhooksGetWithHttpInfo(page = page, perPage = perPage, status = status, endpointId = endpointId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeliveryListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /webhooks
     * List webhook deliveries
     * 
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param status  (optional)
     * @param endpointId  (optional)
     * @return ApiResponse<DeliveryListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksGetWithHttpInfo(page: kotlin.Int?, perPage: kotlin.Int?, status: StatusWebhooksGet?, endpointId: java.util.UUID?) : ApiResponse<DeliveryListResponse?> {
        val localVariableConfig = webhooksGetRequestConfig(page = page, perPage = perPage, status = status, endpointId = endpointId)

        return request<Unit, DeliveryListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksGet
     *
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param status  (optional)
     * @param endpointId  (optional)
     * @return RequestConfig
     */
    fun webhooksGetRequestConfig(page: kotlin.Int?, perPage: kotlin.Int?, status: StatusWebhooksGet?, endpointId: java.util.UUID?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (endpointId != null) {
                    put("endpoint_id", listOf(endpointId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/webhooks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /webhooks/{id}/attempts
     * Get delivery attempts
     * 
     * @param id 
     * @return kotlin.collections.List<DeliveryAttempt>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksIdAttemptsGet(id: java.util.UUID) : kotlin.collections.List<DeliveryAttempt> {
        val localVarResponse = webhooksIdAttemptsGetWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<DeliveryAttempt>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /webhooks/{id}/attempts
     * Get delivery attempts
     * 
     * @param id 
     * @return ApiResponse<kotlin.collections.List<DeliveryAttempt>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksIdAttemptsGetWithHttpInfo(id: java.util.UUID) : ApiResponse<kotlin.collections.List<DeliveryAttempt>?> {
        val localVariableConfig = webhooksIdAttemptsGetRequestConfig(id = id)

        return request<Unit, kotlin.collections.List<DeliveryAttempt>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksIdAttemptsGet
     *
     * @param id 
     * @return RequestConfig
     */
    fun webhooksIdAttemptsGetRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/webhooks/{id}/attempts".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /webhooks/{id}
     * Get delivery by ID
     * 
     * @param id 
     * @return Delivery
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksIdGet(id: java.util.UUID) : Delivery {
        val localVarResponse = webhooksIdGetWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Delivery
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /webhooks/{id}
     * Get delivery by ID
     * 
     * @param id 
     * @return ApiResponse<Delivery?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksIdGetWithHttpInfo(id: java.util.UUID) : ApiResponse<Delivery?> {
        val localVariableConfig = webhooksIdGetRequestConfig(id = id)

        return request<Unit, Delivery>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksIdGet
     *
     * @param id 
     * @return RequestConfig
     */
    fun webhooksIdGetRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/webhooks/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /webhooks/{id}/replay
     * Replay a single delivery
     * 
     * @param id 
     * @return Delivery
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksIdReplayPost(id: java.util.UUID) : Delivery {
        val localVarResponse = webhooksIdReplayPostWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Delivery
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /webhooks/{id}/replay
     * Replay a single delivery
     * 
     * @param id 
     * @return ApiResponse<Delivery?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksIdReplayPostWithHttpInfo(id: java.util.UUID) : ApiResponse<Delivery?> {
        val localVariableConfig = webhooksIdReplayPostRequestConfig(id = id)

        return request<Unit, Delivery>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksIdReplayPost
     *
     * @param id 
     * @return RequestConfig
     */
    fun webhooksIdReplayPostRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/webhooks/{id}/replay".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /webhooks
     * Send a webhook
     * 
     * @param createWebhookRequest 
     * @return Delivery
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun webhooksPost(createWebhookRequest: CreateWebhookRequest) : Delivery {
        val localVarResponse = webhooksPostWithHttpInfo(createWebhookRequest = createWebhookRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Delivery
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /webhooks
     * Send a webhook
     * 
     * @param createWebhookRequest 
     * @return ApiResponse<Delivery?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun webhooksPostWithHttpInfo(createWebhookRequest: CreateWebhookRequest) : ApiResponse<Delivery?> {
        val localVariableConfig = webhooksPostRequestConfig(createWebhookRequest = createWebhookRequest)

        return request<CreateWebhookRequest, Delivery>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation webhooksPost
     *
     * @param createWebhookRequest 
     * @return RequestConfig
     */
    fun webhooksPostRequestConfig(createWebhookRequest: CreateWebhookRequest) : RequestConfig<CreateWebhookRequest> {
        val localVariableBody = createWebhookRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/webhooks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
