# NOTE: This file is auto generated by OpenAPI Generator 7.22.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule HookSniffAPI.Api.Inbound do
  @moduledoc """
  API calls for all endpoints tagged `Inbound`.
  """

  alias HookSniffAPI.Connection
  import HookSniffAPI.RequestBuilder

  @doc """
  List inbound webhook configs
  Returns all inbound webhook configurations for the authenticated user

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%InboundConfig{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec inbound_configs_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, [HookSniffAPI.Model.InboundConfig.t]} | {:error, Tesla.Env.t}
  def inbound_configs_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/inbound/configs")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, HookSniffAPI.Model.InboundConfig},
      {401, false}
    ])
  end

  @doc """
  Delete inbound config

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec inbound_configs_id_delete(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def inbound_configs_id_delete(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/inbound/configs/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, false}
    ])
  end

  @doc """
  Update inbound config

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `id` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:body` (InboundConfigsIdPutRequest): 

  ### Returns

  - `{:ok, HookSniffAPI.Model.InboundConfig.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec inbound_configs_id_put(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, HookSniffAPI.Model.InboundConfig.t} | {:error, Tesla.Env.t}
  def inbound_configs_id_put(connection, id, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:put)
      |> url("/inbound/configs/#{id}")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, HookSniffAPI.Model.InboundConfig},
      {404, false}
    ])
  end

  @doc """
  Create inbound webhook config

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `inbound_configs_post_request` (InboundConfigsPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, HookSniffAPI.Model.InboundConfig.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec inbound_configs_post(Tesla.Env.client, HookSniffAPI.Model.InboundConfigsPostRequest.t, keyword()) :: {:ok, nil} | {:ok, HookSniffAPI.Model.InboundConfig.t} | {:error, Tesla.Env.t}
  def inbound_configs_post(connection, inbound_configs_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/inbound/configs")
      |> add_param(:body, :body, inbound_configs_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, HookSniffAPI.Model.InboundConfig},
      {400, false},
      {401, false}
    ])
  end

  @doc """
  Receive inbound webhook for a specific endpoint

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `provider` (String.t): 
  - `endpoint_id` (String.t): 
  - `body` (map()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec inbound_provider_endpoint_id_post(Tesla.Env.client, String.t, String.t, %{optional(String.t) => any()}, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def inbound_provider_endpoint_id_post(connection, provider, endpoint_id, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/inbound/#{provider}/#{endpoint_id}")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Receive inbound webhook from a provider
  Accepts webhooks from external providers (Stripe, GitHub, etc.) and routes them to the customer's endpoints. 

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `provider` (String.t): 
  - `body` (map()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec inbound_provider_post(Tesla.Env.client, String.t, %{optional(String.t) => any()}, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def inbound_provider_post(connection, provider, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/inbound/#{provider}")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, false}
    ])
  end
end
