# NOTE: This file is auto generated by OpenAPI Generator 7.22.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule HookSniffAPI.Api.OAuth do
  @moduledoc """
  API calls for all endpoints tagged `OAuth`.
  """

  alias HookSniffAPI.Connection
  import HookSniffAPI.RequestBuilder

  @doc """
  GitHub OAuth callback
  Handles GitHub OAuth callback, creates/links account, sets auth cookies

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `code` (String.t): Authorization code from GitHub
  - `state` (String.t): CSRF state token (verified against cookie)
  - `opts` (keyword): Optional parameters
    - `:error` (String.t): Error from GitHub (e.g. access_denied)

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec oauth_github_callback_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def oauth_github_callback_get(connection, code, state, opts \\ []) do
    optional_params = %{
      :error => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/oauth/github/callback")
      |> add_param(:query, :code, code)
      |> add_param(:query, :state, state)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {302, false},
      {400, false}
    ])
  end

  @doc """
  GitHub OAuth login redirect
  Redirects to GitHub OAuth consent screen with CSRF state cookie

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec oauth_github_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def oauth_github_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/oauth/github")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {302, false}
    ])
  end

  @doc """
  Google OAuth callback

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec oauth_google_callback_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def oauth_google_callback_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/oauth/google/callback")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Google OAuth login redirect

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec oauth_google_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def oauth_google_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/oauth/google")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {302, false}
    ])
  end

  @doc """
  List available OAuth providers

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec oauth_providers_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def oauth_providers_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/oauth/providers")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end
end
