# NOTE: This file is auto generated by OpenAPI Generator 7.22.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule HookSniffAPI.Api.Stream do
  @moduledoc """
  API calls for all endpoints tagged `Stream`.
  """

  alias HookSniffAPI.Connection
  import HookSniffAPI.RequestBuilder

  @doc """
  Real-time delivery event stream (SSE)
  Server-Sent Events stream of webhook deliveries

  ### Parameters

  - `connection` (HookSniffAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:endpoint_id` (String.t): 
    - `:status` (String.t): 
    - `:limit` (integer()): 

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec stream_deliveries_get(Tesla.Env.client, keyword()) :: {:ok, String.t} | {:error, Tesla.Env.t}
  def stream_deliveries_get(connection, opts \\ []) do
    optional_params = %{
      :endpoint_id => :query,
      :status => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/stream/deliveries")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end
end
