/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package hooksniff.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl


import com.squareup.moshi.Json

import hooksniff.sdk.infrastructure.ApiClient
import hooksniff.sdk.infrastructure.ApiResponse
import hooksniff.sdk.infrastructure.ClientException
import hooksniff.sdk.infrastructure.ClientError
import hooksniff.sdk.infrastructure.ServerException
import hooksniff.sdk.infrastructure.ServerError
import hooksniff.sdk.infrastructure.MultiValueMap
import hooksniff.sdk.infrastructure.PartConfig
import hooksniff.sdk.infrastructure.RequestConfig
import hooksniff.sdk.infrastructure.RequestMethod
import hooksniff.sdk.infrastructure.ResponseType
import hooksniff.sdk.infrastructure.Success
import hooksniff.sdk.infrastructure.toMultiValue

open class InboundApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://hooksniff-api-1046140057667.europe-west1.run.app/v1")
        }
    }

    /**
     * POST /inbound/{provider}/{endpoint_id}
     * Receive inbound webhook for a specific endpoint
     * 
     * @param provider 
     * @param endpointId 
     * @param body 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun inboundProviderEndpointIdPost(provider: kotlin.String, endpointId: java.util.UUID, body: kotlin.Any) : Unit {
        val localVarResponse = inboundProviderEndpointIdPostWithHttpInfo(provider = provider, endpointId = endpointId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /inbound/{provider}/{endpoint_id}
     * Receive inbound webhook for a specific endpoint
     * 
     * @param provider 
     * @param endpointId 
     * @param body 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun inboundProviderEndpointIdPostWithHttpInfo(provider: kotlin.String, endpointId: java.util.UUID, body: kotlin.Any) : ApiResponse<Unit?> {
        val localVariableConfig = inboundProviderEndpointIdPostRequestConfig(provider = provider, endpointId = endpointId, body = body)

        return request<kotlin.Any, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation inboundProviderEndpointIdPost
     *
     * @param provider 
     * @param endpointId 
     * @param body 
     * @return RequestConfig
     */
    fun inboundProviderEndpointIdPostRequestConfig(provider: kotlin.String, endpointId: java.util.UUID, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/inbound/{provider}/{endpoint_id}".replace("{"+"provider"+"}", encodeURIComponent(provider.toString())).replace("{"+"endpoint_id"+"}", encodeURIComponent(endpointId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /inbound/{provider}
     * Receive inbound webhook from a provider
     * Accepts webhooks from external providers (Stripe, GitHub, etc.) and routes them to the customer&#39;s endpoints. 
     * @param provider 
     * @param body 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun inboundProviderPost(provider: kotlin.String, body: kotlin.Any) : Unit {
        val localVarResponse = inboundProviderPostWithHttpInfo(provider = provider, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /inbound/{provider}
     * Receive inbound webhook from a provider
     * Accepts webhooks from external providers (Stripe, GitHub, etc.) and routes them to the customer&#39;s endpoints. 
     * @param provider 
     * @param body 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun inboundProviderPostWithHttpInfo(provider: kotlin.String, body: kotlin.Any) : ApiResponse<Unit?> {
        val localVariableConfig = inboundProviderPostRequestConfig(provider = provider, body = body)

        return request<kotlin.Any, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation inboundProviderPost
     *
     * @param provider 
     * @param body 
     * @return RequestConfig
     */
    fun inboundProviderPostRequestConfig(provider: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/inbound/{provider}".replace("{"+"provider"+"}", encodeURIComponent(provider.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
